@charset "utf-8";
html {
    font-family:"HGP明朝E"
    }
/* Navbar & Navmenu color */
:root {
    --background-navbar: rgba(55, 55, 55, 0.98);
  }
  
  .header {
    background: var(--background-navbar);
    position: fixed;
    width: 100%;
    height: 52px;
    z-index: 1;
  }
  
  /* Nav items */
  .menu {
    list-style: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    margin-top: 52px;
    padding: 0 0 10px 0;
    clear: both;
    background: var(--background-navbar);
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transform: scale(1, 0);
    transform-origin: top;
  }
  
  /* Hamburger menu button */
  .menu-btn:checked ~ .menu {
    transform: scale(1, 1);
    transform-origin: top;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  /* Hamburger menbu text */
  .menu a {
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: capitalize;
    color: #ddd;
    opacity: 0;
    transition: 0.5s;
  }
  
  .menu li {
    border-top: 1px solid rgb(75, 75, 75);
    padding: 15px 0;
    margin: 0 54px;
    opacity: 0;
    transition: 0.5s;
  }
  
  .menu-btn:checked ~ .menu a,
  .menu-btn:checked ~ .menu li {
    opacity: 1;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
  }
  
  .menu-btn {
    display: none;
  }
  
  .menu-icon {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 24px 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .navicon {
    background: #ddd;
    display: block;
    height: 3px;
    width: 26px;
    position: relative;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  .navicon:before,
  .navicon:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #ddd;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  
  .navicon:before {
    top: 9px;
  }
  
  .navicon:after {
    bottom: 9px;
  }
  
  /* Hamburger Menu Animation Start */
  .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
    top: 0;
  }
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    bottom: 0;
  }
  
  .menu-btn:checked ~ .menu-icon .navicon {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
  /* Hamburger Menu Animation End */
  
  /* Navbar Container */
  .navtext-container {
    width: 100%;
    height: 52px;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Navbar Text */
  .navtext {
    position: absolute;
    text-transform: uppercase;
    color: #ddd;
    letter-spacing: 4px;
    font-size: 20px;
  }
  
.title {
    display:flex;
    background-color:rgb(13,88,128);
    width:auto;
    padding:0px 20px;
    height:auto;
}
.port {
    color:white;
    flex-grow: 1;
}
.port1 {
    text-align:right;
    color:white;
    margin:20px 10px;
}

.sec {
    background-image:url(https://user0514.cdnw.net/shared/img/thumb/shikun20231117_180630_TP_V.jpg);
    background-size:cover;
    padding:150px 30px;
}

.life {
    text-align:center;
    color:white;
}
.pro span {
    color:rgb(13,88,128);
}
.pro {
    text-align:center;
    color:grey;
    margin:35px;
}
.pro2 {
    margin:0px;
    padding:0px;
}
.pro3 {
    margin:0%;
}
.data {
    display:flex;
    justify-content:center;
}
@media screen and (max-width: 480px) {
	.data {
        display: flex;
        flex-wrap: wrap;
    }
}

.image {
    background-image:url(https://img.freepik.com/free-photo/stylish-businessman-with-crossed-arms_1232-829.jpg?w=740&t=st=1708771965~exp=1708772565~hmac=85d6de7280ac188a2e001a60561d0e51b8dc004e683d8c350b3b2e6582efc3cf);
    background-size:cover;
    height:250px;
    width: 320px;
    margin:10px 10px;
}
.tex {
    text-align: right;
    margin:10px 20px;
}
.tex2 {
    text-align: left;
}
.PR {
    background-image:url(https://images.unsplash.com/photo-1528301721190-186c3bd85418?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    height:390px;
    margin:20px 0px;
}
@media screen and (max-width: 480px) {
	.PR {
       height: 800px;
    }
}
.PRup {
    padding:40px;
    text-align: center;
    color:gray;
}
.PRup span {
    color:rgb(13,88,128);
}
.self {
    padding:0%;
    margin:0%;
}
.PRdw {
    display:flex;
    justify-content: center;
}
@media screen and (max-width: 480px) {
	.PRdw {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }
}
.self2 {
    flex-basis:150px;
    background-color:rgb(255,255,255,0.5) ;
    border:2px solid white;
    margin:0px 20px;
}
.self3 {
    text-align: center;
    color:rgb(13,88,128);
}
.self4 {
    margin:5px;
    font-size:15px;
}
.vis span {
    color:rgb(13,88,128);
}
.vis2 {
    text-align: center;
    padding:0%;
    margin:0%;
    color:gray;
}
.text {
    text-align: center;
}
.text2 {
    color:rgb(13,88,128);
}
.next {
    color:rgb(13,88,128);
    text-align: center;
    font-size:60px;
    margin: 0px 0px -10px 0px;
}
.footer {
    height: 150px;
    background-color: rgb(13,88,128);
    margin:0px;
    color:white;
    text-align: center;
    position: relative;
}
.top1 {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    padding:20px 75px;
    border:5px solid white;

}
.by {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, 200%)
}

.fade {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50px);
  transition: opacity 1s,visibility 1s, transform 1s;
}
.scroll {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}